name: Build OpenJFX on Windows

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: "windows-2022"

    steps:
      - name: Checkout builder repo
        uses: actions/checkout@v4
      - name: Set up JDK 24
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
      - name: Set up Cygwin
        uses: egor-tensin/setup-cygwin@v4
        with:
          packages: make autoconf zip unzip
      - name: Clone OpenJDK Mobile sources 
        shell: C:\tools\cygwin\bin\bash.exe --login --norc -eo pipefail -o igncr '{0}'
        run: |
          git clone https://github.com/openjdk/mobile.git
          cd mobile
          ls -l ..
          ls -l ../openjdk-ext
          patch -p1 <../openjdk-ext/src/jfx.patch
          cd ..
      - name: Clone OpenJFX
        shell: C:\tools\cygwin\bin\bash.exe --login --norc -eo pipefail -o igncr '{0}'
        run: |
          git clone https://github.com/openjdk/jfx.git
          cd jfx
          sh gradlew shadersClasses
          cd ..
          cd mobile
          sh configure --with-conf-name=jfx --with-openjfx-modules=../jfx --disable-warnings-as-errors
          cd build/jfx
          make images
          cd images
          ls -l ../../../../
          zip -r ../../../../openjdk-jfx-windows-x86_64.zip jdk

      - name: Create snapshot release 
        uses: softprops/action-gh-release@v2
        with:
          name: "Snapshot release"
          tag_name: snapshot
          prerelease: true
          files: |
            openjdk-jfx-windows-x86_64.zip

